<div class=" container m-auto pt-4 px-10 ">
    <div class="grid grid-cols-4 gap-4">
        <div class="bg-white rounded-md shadow-md border p-4">
            <h2 class="text-xl font-semibold"> {{user[0].name}} </h2>
            <p>{{user[0].position}}</p>
        </div>
        <div *ngIf="project.status !='done' && role != 'staff'" class="border p-4 rounded-md shadow-lg text-center bg-blue-500 text-white flex items-center justify-center gap-4 cursor-pointer hover:bg-blue-400" (click)="changePopup()">
            <h2 class="uppercase text-xl font-semibold">Tạo công việc</h2>
            <svg viewBox="0 0 512 512" fill="currentColor" height="2em" width="2em">
                <path d="M459.94 53.25a16.06 16.06 0 00-23.22-.56L424.35 65a8 8 0 000 11.31l11.34 11.32a8 8 0 0011.34 0l12.06-12c6.1-6.09 6.67-16.01.85-22.38zM399.34 90L218.82 270.2a9 9 0 00-2.31 3.93L208.16 299a3.91 3.91 0 004.86 4.86l24.85-8.35a9 9 0 003.93-2.31L422 112.66a9 9 0 000-12.66l-9.95-10a9 9 0 00-12.71 0z" />
                <path d="M386.34 193.66L264.45 315.79A41.08 41.08 0 01247.58 326l-25.9 8.67a35.92 35.92 0 01-44.33-44.33l8.67-25.9a41.08 41.08 0 0110.19-16.87l122.13-121.91a8 8 0 00-5.65-13.66H104a56 56 0 00-56 56v240a56 56 0 0056 56h240a56 56 0 0056-56V199.31a8 8 0 00-13.66-5.65z" />
            </svg>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 py-8">
        <div>
            <div class=" rounded-md border shadow-lg">
                <h2 class="bg-gray-300 py-2 text-center font-semibold text-lg rounded-t-md">Chưa giải quyết</h2>
                    <div *ngFor="let item of listPending">
                        <div 
                            class=" p-2 border-b" 
                            [ngClass]="{
                                'bg-red-400': overWorked(item.endDate), 
                                'bg-yellow-400': !overWorked(item.endDate) && item.note,
                            }">
                            <p class="cursor-pointer item-title font-semibold"> {{item.name}} </p>
                            <div class="item-description hidden ">
                                <p class="py-2">Nội dung: {{item.description}} </p>
                                <p *ngIf="item.note" class="py-2">Ghi chú: {{item.note}} </p>
                                <div class="flex justify-between">
                                    <p class="">Hạn cuối: {{ formattedDate(item.endDate)}} </p>
                                    <ng-container *ngIf="role!='staff'; else elseTemplate">
                                        <svg (click)="editTask(item)" class=" cursor-pointer" viewBox="0 0 1024 1024" fill="currentColor" height="1em" width="1em" >
                                            <path d="M880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32zm-622.3-84c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9z" />
                                        </svg>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <svg (click)="updateStatusByUser(item,'doing')" class=" cursor-pointer text-green-500 text-2xl" viewBox="0 0 512 512" fill="currentColor" height="1em" width="1em" >
                                            <path d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm48.19 121.42l24.1 21.06-73.61 84.1-24.1-23.06zM191.93 342.63L121.37 272 144 249.37 214.57 320zm65 .79L185.55 272l22.64-22.62 47.16 47.21 111.13-127.17 24.1 21.06z" />
                                        </svg>
                                    </ng-template>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div>
            <div class="rounded-md border shadow-lg">
                <h2 class="bg-yellow-300 py-2 text-center font-semibold text-lg rounded-t-md">Đang làm</h2>
                <div *ngFor="let item of listDoing">
                    <div 
                        class=" p-2 border-b" 
                        [ngClass]="{
                            'bg-red-400': overWorked(item.endDate), 
                            'bg-yellow-400': !overWorked(item.endDate) && item.note,
                        }">
                        <p class="cursor-pointer item-title font-semibold"> {{item.name}} </p>
                        <div class="item-description hidden ">
                            <p class="py-2">Nội dung: {{item.description}} </p>
                            <p *ngIf="item.note" class="py-2">Ghi chú: {{item.note}} </p>
                            <div class="flex justify-between">
                                <p class="">Hạn cuối: {{ formattedDate(item.endDate)}} </p>
                                
                                <ng-container *ngIf="role!='staff'; else elseTemplate">
                                    <svg (click)="editTask(item)" class=" cursor-pointer" viewBox="0 0 1024 1024" fill="currentColor" height="1em" width="1em" >
                                        <path d="M880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32zm-622.3-84c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9z" />
                                    </svg>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <svg (click)="updateStatusByUser(item,'done')" class=" cursor-pointer text-green-500 text-2xl" viewBox="0 0 512 512" fill="currentColor" height="1em" width="1em" >
                                        <path d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm48.19 121.42l24.1 21.06-73.61 84.1-24.1-23.06zM191.93 342.63L121.37 272 144 249.37 214.57 320zm65 .79L185.55 272l22.64-22.62 47.16 47.21 111.13-127.17 24.1 21.06z" />
                                    </svg>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="rounded-md border shadow-lg">
                <h2 class="bg-blue-300 py-2 text-center font-semibold text-lg rounded-t-md">Chờ xác nhận</h2>
                <div *ngFor="let item of listDone">
                    <div class=" p-2 border-b" [ngClass]="{'bg-red-400': overWorked(item.endDate)}" >
                        <p class="cursor-pointer item-title font-semibold"> {{item.name}} </p>
                        <div class="item-description hidden ">
                            <p class="py-2">Nội dung: {{item.description}} </p>
                            <div class="flex justify-between">
                                <p class="">Hạn cuối: {{ formattedDate(item.endDate)}} </p>
                                <div class="flex gap-2" *ngIf="role!='staff'">
                                    <svg (click)="finishedStatus(item)" class=" cursor-pointer text-green-500 text-2xl" viewBox="0 0 512 512" fill="currentColor" height="1em" width="1em" >
                                        <path d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm48.19 121.42l24.1 21.06-73.61 84.1-24.1-23.06zM191.93 342.63L121.37 272 144 249.37 214.57 320zm65 .79L185.55 272l22.64-22.62 47.16 47.21 111.13-127.17 24.1 21.06z" />
                                    </svg>
                                    <svg  (click)="editNote(item.id)" class=" cursor-pointer text-red-500 text-2xl" viewBox="0 0 24 24" fill="currentColor" height="1em" width="1em" >
                                        <path d="M18.988 2.012l3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z" />
                                        <path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 002-2v-8.668l-2 2V19z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class=" rounded-md border shadow-lg">
                <h2 class="bg-green-300 py-2 text-center font-semibold text-lg rounded-t-md">Đã xong</h2>
                <div *ngFor="let item of listFinished">
                    <div class=" p-2 border-b" [ngClass]="{'bg-red-400': overWorked(item.endDate)}" >
                        <p class="cursor-pointer item-title font-semibold"> {{item.name}} </p>
                        <div class="item-description hidden ">
                            <p class="py-2">Nội dung: {{item.description}} </p>
                            <div class="flex justify-between">
                                <p class="">Ngày hoàng thành: {{ formattedDate(item.finishDate)}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="popup" class="fixed top-0 left-0 w-full h-screen">
        <div class="fixed top-0 left-0 w-full h-screen bg-black opacity-40"  (click)="changePopup()"></div>
        <div class="fixed top-1/4 left-1/2 -translate-y-1/4 -translate-x-1/2">
            <div class=" py-8 px-6 bg-white rounded-md shadow-md lg:w-[600px] relative">
                <h2 class="uppercase text-xl font-semibold text-center">Công việc</h2>
                <form action="" class=" pt-3" [formGroup]="formTask" (ngSubmit)="onSubmit()">
                    <div class="py-2">
                        <label for="name">Tên công việc:</label>
                        <input formControlName="name" class="w-full border rounded-md py-2 px-2 my-2" type="text" name="name">
                    </div>
                    <div class="py-2">
                        <label for="desciption">Nội dung chi tiết:</label>
                        <textarea formControlName="description" class="w-full border rounded-md py-4 px-2 my-2" type="number" name="description"></textarea>
                    </div>
                    <div class="py-2">
                        <label for="name">Thời gian hoàng thành:</label>
                        <input formControlName="endDate" class="w-full border rounded-md py-1 px-2 my-2" type="date" name="endDate">
                        <div class="text-red-500 font-medium" *ngIf="formTask.get('endDate')?.hasError('invalidDate') && formTask.get('endDate')?.touched">
                            Ngày không thể từ quá khứ.
                        </div>
                    </div>

                    <div class=" py-2 flex justify-between">
                        <div *ngIf="isEdit">
                            <button (click)="deleteTask(isEdit)" class=" px-6 py-2 rounded-md shadow bg-red-500 text-white">Xóa</button>
                        </div>
                        <ng-container *ngIf="!isEdit; else elseTemplate">
                            <button type="submit" [disabled]="formTask.invalid" class=" px-6 py-2 rounded-md shadow bg-blue-500 text-white">Tạo</button>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <button type="submit"  class=" px-6 py-2 rounded-md shadow bg-green-500 text-white">Cập nhật</button>
                        </ng-template>

                    </div>
                </form>
                <span class=" absolute top-4 right-4">
                    <svg (click)="changePopup()" class=" cursor-pointer " viewBox="0 0 1024 1024" fill="currentColor" height="1.5em" width="1.5em">
                        <path d="M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670a8.32 8.32 0 00-1.9 5.2c0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z" />
                        <path d="M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z" />
                    </svg>
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="popupNote" class="fixed top-0 left-0 w-full h-screen">
        <div class="fixed top-0 left-0 w-full h-screen bg-black opacity-40"  (click)="changePopupNote()"></div>
        <div class="fixed top-1/4 left-1/2 -translate-y-1/4 -translate-x-1/2">
            <div class=" py-8 px-6 bg-white rounded-md shadow-md lg:w-[600px] relative">
                <form action="" class=" pt-3" [formGroup]="formNote" (submit)="onSunmitNote()">
                    <div class="py-2">
                        <label for="note">Ghi chú:</label>
                        <textarea formControlName="note" class="w-full border rounded-md py-4 px-2 my-2" type="number" name="note"></textarea>
                    </div>
                    <div class=" py-2 flex justify-between">
                        <button type="submit" class=" px-6 py-2 rounded-md shadow bg-yellow-500 text-white">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>