<div class=" container m-auto pt-8 px-10">
    <div class="flex gap-3">
        <div class="w-2/3"> 
            <div class="px-4 py-2 rounded-md shadow-lg border">
                
                <h2 class="font-semibold text-center">
                    Thống kê doanh thu theo tháng năm {{selectYear}}
                </h2>
                <div class=" p-4 w-full">
                    <div id="revenue-chart" class="w-full h-[200px]"></div>
                </div>
            </div>
            <div class=" pt-4 flex gap-3">
                <div class="w-5/12 px-4 py-4 rounded-md shadow-xl border">
                    <div class="h-[90%]">
                        <h2 class="font-semibold text-center">
                            Khách hàng mới
                        </h2>
                        <div class="h-full flex flex-col justify-between pt-2">
                            <div *ngFor="let item of listCustomer" class="flex gap-2 items-center py-2 border-b">
                                {{item.name}}
                            </div>
                            <a routerLink="customer" class="mt-auto block text-blue-500">Xem tất cả khách hàng</a>
                        </div>
                    </div>
                </div>
                <div class="w-7/12 px-4 py-4 rounded-md shadow-xl border">
                    <div class="">
                        <h2 class="font-semibold text-center">
                            Thống kê số lượng dự án
                        </h2>
                        <div id="project-chart" class="w-full h-full py-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-1/3"> 
            <div class="px-4 py-2 rounded-md shadow-lg border">
                <h2 class="font-semibold text-center">TOP NHÂN VIÊN <br> Đạt thành tích tốt trong tuần</h2>
                <div *ngFor="let item of listStaffTop" class="flex gap-2 items-center py-2 border-b">
                    <div class="flex items-center justify-center w-7 h-7 rounded-full overflow-hidden">
                        <img [src]="item.thumb" alt="avatar" class=" w-full h-full object-cover">
                    </div>
                    <p class="text-sm font-semibold">{{item.name}}</p>
                </div>
            </div>
            <div class="p-4 rounded-md shadow-xl mt-4 border">
                <h2 class="font-semibold text-center">Thống kê nhân viên theo khu vực</h2>
                <div class="w-[250px] m-auto py-2">
                    <canvas id="staff-chart" class="h-[250px] w-full"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>