<div class=" container m-auto pt-8 px-10">
    <div class="grid grid-cols-4 gap-4">
        <div class="border p-4 rounded-md  font-semibold shadow-lg text-center ">
            <h2 class="uppercase text-xl">Tổng số dự án</h2>
            <p class="">0</p>
        </div>
        <div class="border p-4 rounded-md  font-semibold shadow-lg text-center text-blue-500">
            <h2 class="uppercase text-xl">Đang thực hiện</h2>
            <p class="">0</p>
        </div>
        <div class="border p-4 rounded-md  font-semibold shadow-lg text-center text-green-500">
            <h2 class="uppercase text-xl">Đã làm xong</h2>
            <p class="">0</p>
        </div>
        <div class="border p-4 rounded-md  font-semibold shadow-lg text-center text-red-500">
            <h2 class="uppercase text-xl">Đã hủy</h2>
            <p class="">0</p>
        </div>

    </div>
</div>